.signup-cards{
    min-height: 20rem;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    border-bottom: 15px solid #28A7B8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.signup-cards h4 {
    color: #28A7B8; 
    margin-bottom: 0;
    font-size: clamp(16px, 2vw, 20px) !important;
}

.signup-cards p {
    color: #666666; 
    font-weight: 500;
    margin-top: 1.25rem;
    font-size: clamp(14px, 2vw, 16px) !important;
}
